HTML {
  background-color: #ccc;
}
BODY {
  font-family: Lucida Grande, Verdana, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}
P {
  line-height: 1.5;
}
A {color: #069; text-decoration: none;}
A:hover { color: #900; }
A.button {
  margin: 0px 5px;
  padding: 2px 8px;
  min-width: 80px;
  border: solid 1px #ccc;
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
A.button.left_cap {
  margin-right: 0px;
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  border-right:  none;
}
A.button.right_cap {
  margin-left: 0px;
  border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
}
A.button.no_cap {
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-right:  none;
}
A.button:hover {
  position:relative;
  top: -1px;
  left: -1px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
INPUT[type="text"], INPUT[type="password"], TEXTAREA {
  border: solid 1px #666;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.cleer {clear:both; overflow: hidden; height:0px;}

#page {
  width: 800px;
  margin: 10px auto 0px;
  position: relative;
}

#banner, #content {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 4px 4px 2px rgba(0,0,0,.5);
  -moz-box-shadow: 4px 4px 2px rgba(0,0,0,.5);
  -webkit-box-shadow: 4px 4px 2px rgba(0,0,0,.5);
}

#banner {
  /* background: url(http://farm4.static.flickr.com/3312/3441523543_e42ae65a2b_b.jpg) center -190px; */
  /* background: url(http://farm3.static.flickr.com/2440/3588629512_49c26e2215_b.jpg) -200px -250px; */
  background: url(../images/banner_bg.jpg) no-repeat center bottom;
  background-repeat: no-repeat;
  background-color: #eee;

  color: #fff;
  text-shadow: 2px 2px 4px #000;

  margin: 10px 0px 0px;
  text-align: center;
  line-height: 80px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

#session_controls {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px 10px;
}
#session_controls a {
  margin-right: 10px;
}

#navbar {
  position: absolute;
  top: 70px;
  z-index: 1;
  text-align: center;
  width: 100%;
}

#navbar FORM, #navbar INPUT {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
#navbar FORM INPUT {
  font-size: 12px;
  padding: 2px 2px 2px 20px;
  margin: 0px;
  width: 100px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: solid 1px #ccc;
  background: url(https://webapp.mis.vanderbilt.edu/more/images/search.png) 4px no-repeat #fff;
}

#content  {
  position: relative;
  z-index: 0;
  padding: 10px;
  background-color: #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
}

.sidebar {
  background-color: #fff;
  float:right;
  padding: 6px;
  margin: 10px 0px 10px 10px;
  border:solid 2px #888;
  width:150px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.sidebar A {
  text-align: center;
  display: block;
  margin: 4px 0px;
}

.message.warn {
  color: #840;
}

.stale {
  background: url(../../static/images/stale.png) no-repeat right center;
}

#footer {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}

